@import "../../global.scss";

.footer {
    width:100%;
    height: 80px;
    background-color:$mainColor;

}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    line-height: 20px;
    padding-bottom: 20px;
    color:white;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top:30px;
}