.App {
    height:100vh;


    .sections {

        width:100%;
        position: relative;
        top:70px;
        
        text-align:center;

        > *{
            width:100vw;
            scroll-snap-align:start;
        }
    }
}

